/* Estilos generales */
body {
    background: #ddd;
    min-height: 100vh;
    display: flex;
    align-items: center; /* Alinea verticalmente el contenido */
    justify-content: center; /* Centra el contenido horizontalmente */
    font-family: sans-serif;
    font-size: 16px; /* Ajustado para una mejor legibilidad */
    font-weight: bold;
}

/* Contenedor principal de la bolsa */
.card {
    margin: auto;
    max-width: 950px;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
}

/* Contenido de la bolsa */
.cart {
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

/* Resumen de la bolsa */
.summary {
    background-color: #ddd;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: #414141; /* Cambiado para mejorar la legibilidad */
}

/* Estilos de los elementos */
.row {
    margin: 0;
}

/* Estilos del título */
.title {
    margin-bottom: 5vh;
}

.title b {
    font-size: 1.5rem;
}

/* Estilos de los botones y enlaces */
.btn,
a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 1vh 2vh;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
}

.btn:hover,
a:hover {
    background-color: #000;
}

/* Imágenes */
img {
    max-width: 100%;
    height: auto;
}

/* Otros */
.back-to-shop {
    margin-top: 4.5rem;
}

hr {
    margin-top: 1.25rem;
}

/* Formularios */
form {
    padding: 2vh 0;
}

select,
input {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}

input:focus::-webkit-input-placeholder {
    color: transparent;


    
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 0.7rem;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 0;
}
.btn:focus{
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none; 
}
.btn:hover{
    color: white;
}
a{
    color: black; 
}
a:hover{
    color: black;
    text-decoration: none;
}
 #code{
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253) , rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
}